[user]
	email = kevinstampe@gmail.com
	name = Kevin Guldager Stampe
[push]
	autoSetupRemote = true
[pull]
	rebase = false
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
