@define-color rosewater #cc241d;
@define-color flamingo #cc241d;
@define-color pink #cc241d;
@define-color mauve #98171a;
@define-color orange #d65d0e;
@define-color red #cc241d;
@define-color maroon #cc241d;
@define-color peach #cc241d;
@define-color yellow #d79921;
@define-color green #98971a;
@define-color teal #98971a;
@define-color sky #458588;
@define-color sapphire #458588;
@define-color blue #458588;
@define-color lavender #b16286;
@define-color text #333333;
@define-color subtext1 #eeeeee;
@define-color subtext0 #dddddd;
@define-color overlay2 #888888;
@define-color overlay1 #888888;
@define-color overlay0 #aaaaaa;
@define-color surface2 #333333;
@define-color surface1 #555555;
@define-color surface0 #777777;
@define-color base #1e1e2e;
@define-color mantle #bbbbbb;
@define-color crust #11111b;
