#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Windows App
Exec=chromium --profile-directory=Default --app-id=monlcjhpdgkfbjmldmchjhkjcgmbpkhp
Icon=chrome-monlcjhpdgkfbjmldmchjhkjcgmbpkhp-Default
StartupWMClass=crx_monlcjhpdgkfbjmldmchjhkjcgmbpkhp
