[Desktop Entry]
Name=Clustertruck
Comment=Play this game on Steam
Exec=steam steam://rungameid/397950
Icon=steam_icon_397950
Terminal=false
Type=Application
Categories=Game;
