[Desktop Entry]
Type=Application
Name=Wine Installer
MimeType=application/microsoftpatch;
Exec=env "WINEPREFIX=/home/kevinstampe/.autodesk_fusion/wineprefixes/default" wine start /ProgIDOpen "Msi.Patch" %f
NoDisplay=true
StartupNotify=true
Icon=D23E_msiexec.0
