[Desktop Entry]
Type=Application
Name=A Wine application
MimeType=text/x-ms-regedit;
Exec=env "WINEPREFIX=/home/kevinstampe/.autodesk_fusion/wineprefixes/default" wine start /ProgIDOpen "regfile" %f
NoDisplay=true
StartupNotify=true
